Repository cgm-16/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "*.md": "prettier --write"
}

docs(analytics): GA4 이벤트 명세와 리포트 체크리스트 문서화
  docs/analytics/ga4-event-spec.md
  docs/analytics/ga4-reports-checklist.md
Due: prettier --write

chore(lint): storybook-static 산출물 lint 제외 설정
  eslint.config.mjs
Due: none

docs: 실행 완료된 문서 legacy로 이동
  docs/legacy/implementation-plan-p5.md
  docs/legacy/implementation-plan.md
  docs/legacy/project-state-requirements.md
Due: prettier --write

fix(markdown): 채용공고·공지 상세 마크다운 스타일 정렬
  __tests__/app/announcement-detail-page.test.tsx
  __tests__/app/job-detail-page.test.tsx
  app/announcements/[id]/page.tsx
  app/jobs/[id]/page.tsx
Due: eslint --max-warnings 0, prettier --write

fix: 시드된 데이터 패스워드 기준에 맞게 수정
  docs/test-db-local-setup.md
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

fix(profile): 프로필 DateTime 문자열을 Date 객체로 변환
  __tests__/lib/use-cases/profile.test.ts
  lib/use-cases/profile.ts
Due: eslint --max-warnings 0, prettier --write

docs: 컨텍스트 업데이트
  AGENTS.md
Due: prettier --write

feat(seed): 수요 기반 스킬 시드 32개 추가
  prisma/seed-data/skills.json
Due: none

feat(seed): 스킬 로컬 표시명 누락 보완
  prisma/seed-data/skills.json
Due: none

docs(structure): frontend backend 경로 기준 문서 업데이트
  README.md
  docs/folder-structure.md
  docs/i18n-checklist.md
  docs/project-state.md
  docs/supabase-migration-v0.1-runbook.md
  docs/test-db-local-setup.md
Due: prettier --write

chore: codex 임시파일 .gitignore에 추가
  .gitignore
Due: none

chore: package.json 스크립트 정리
  package.json
Due: none

chore: 불필요한 mcp / 에셋 제거
  .serena/.gitignore
  .serena/project.yml
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

chore(repo): 개발 온보딩 문서와 테스트 DB 스크립트 정합성 반영
  .env.development.example
  .gitignore
  AGENTS.md
  README.md
  docs/legacy/backend_documentation.md
  docs/legacy/implementation-plan-p5.md
  docs/legacy/implementation-plan.md
  docs/legacy/project-state-requirements.md
  docs/project-state.md
  docs/test-db-local-setup.md
  package.json
  supa_RLS.md
  todo.md
Due: prettier --write

fix(storybook): i18n 툴팁 추가, 버튼 스토리 수정
  .storybook/preview.ts
  .storybook/preview.tsx
  frontend/stories/ui/button.stories.tsx
Due: eslint --max-warnings 0, prettier --write

fix(ui): Figma 디자인 스펙 동기화 — 높이·글꼴·레이아웃 수정
  frontend/components/ui/button.tsx
  frontend/components/ui/lang-picker.tsx
  frontend/components/ui/login-field.tsx
  frontend/components/ui/social-ls.tsx
  frontend/components/ui/toggle-switch.tsx
  public/icons/completed.svg
  public/icons/url.svg
Due: eslint --max-warnings 0, prettier --write

fix(ui): caption1 letter-spacing 및 required 아이콘 사이즈 동기화
  frontend/components/ui/chip.tsx
  frontend/components/ui/date-picker.tsx
  frontend/components/ui/dialcode-picker.tsx
  frontend/components/ui/form-dropdown.tsx
  frontend/components/ui/form-input.tsx
  frontend/components/ui/post-status.tsx
Due: eslint --max-warnings 0, prettier --write

fix: date-picker 스크롤 css 구현
  app/globals.css
  frontend/components/ui/date-picker.tsx
Due: eslint --max-warnings 0, prettier --write

fix(ui): body-3 타이포 토큰 추가 및 디자인 토큰 클래스 테스트 동기화
  __tests__/components/ui/button-brand.test.tsx
  __tests__/components/ui/date-picker.test.tsx
  __tests__/components/ui/tab-item.test.tsx
  __tests__/features/job-browse/job-category-tabs.test.tsx
  app/globals.css
  frontend/components/ui/button.tsx
Due: eslint --max-warnings 0, prettier --write

fix(gbm): 컴포넌트 높이 60 -> 50px로 조정
  frontend/components/ui/lang-picker.tsx
  frontend/widgets/nav/ui/main-nav.tsx
Due: eslint --max-warnings 0, prettier --write

chore(agents): 에이전트 프롬프트를 영어로 변경
  .claude/agents/codebase-researcher.md
  .claude/agents/figma-researcher.md
  .claude/agents/lint-typecheck.md
  .claude/agents/test-runner.md
Due: prettier --write

fix(frontend): 스타일 불일치 해결
  frontend/features/auth/ui/login-modal.tsx
  frontend/features/auth/ui/signup-modal.tsx
Due: eslint --max-warnings 0, prettier --write

test(ui): 디자인 토큰 클래스 기대값으로 테스트 갱신
  __tests__/app/announcement-detail-page.test.tsx
  __tests__/app/candidate-applications-page.test.tsx
  __tests__/app/dashboard-sidebar.test.tsx
  __tests__/app/job-detail-page.test.tsx
  __tests__/components/ui/button-brand.test.tsx
Due: eslint --max-warnings 0, prettier --write

docs(AGENTS): 컨텍스트 문서 변경
  AGENTS.md
Due: prettier --write

fix(fe): 스타일 불일치 해소
  frontend/components/ui/social-ls.tsx
  frontend/entities/job/ui/posting-list-item.tsx
Due: eslint --max-warnings 0, prettier --write

feat(style): 기본 배경색 bg-white로 변경
  app/globals.css
Due: none

fix(layout): 불필요한 폰트 제거
  app/layout.tsx
Due: eslint --max-warnings 0, prettier --write

fix(test): 스팩과 맞지 않는 테스트 수정
  __tests__/components/ui/form-input.test.tsx
Due: eslint --max-warnings 0, prettier --write

feat(profile/edit): 수정중 항목의 border-color 변경하는 스타일 적용
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
Due: eslint --max-warnings 0, prettier --write

fix(theme): Tailwind 테마 bg 색상 변경
  app/globals.css
Due: none

fix(/jobs): key 프롭 추가 (런타임 에러 해소)
  app/jobs/page.tsx
Due: eslint --max-warnings 0, prettier --write

fix(UI): dialcode-picker 피그마와 일치
  frontend/components/ui/dialcode-picker.tsx
Due: eslint --max-warnings 0, prettier --write

fix(UI): 사이즈 테마 (input 높이 variation) 추가, 사이즈 테마로 컴포넌트 연동되게 변경
  app/globals.css
  frontend/components/ui/date-picker.tsx
  frontend/components/ui/dialcode-picker.tsx
  frontend/components/ui/form-input.tsx
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
Due: eslint --max-warnings 0, prettier --write

fix(FE/BE/DB): headline과 관련된 UI, 데이터 모두 제거
  __tests__/app/candidate-profile-edit-page.test.tsx
  __tests__/app/candidate-profile-page.test.tsx
  __tests__/app/candidate-slug-page.test.tsx
  __tests__/entities/profile/profile-card.test.tsx
  __tests__/features/profile-edit/profile-public-form.test.tsx
  __tests__/lib/validations/profile.test.ts
  app/(dashboard)/candidate/profile/edit/page.tsx
  app/(dashboard)/candidate/profile/profile-content.tsx
  app/candidate/[slug]/page.tsx
  app/candidate/[slug]/profile/page.tsx
  backend/prisma/migrations/20260226000000_remove_profile_headline/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-builders.ts
  backend/prisma/seed.ts
  backend/validations/profile.ts
  frontend/entities/profile/ui/profile-card.tsx
  frontend/features/profile-edit/ui/profile-edit-page-client.tsx
  frontend/features/profile-edit/ui/profile-public-form.tsx
  shared/i18n/messages/en.ts
  shared/i18n/messages/ko.ts
  shared/i18n/messages/vi.ts
Due: eslint --max-warnings 0, prettier --write

docs(skill): 문서 거버넌스 스킬 추가 및 AGENTS 문서 규칙 경량화
  .agents/skills/docs-governance/SKILL.md
  .agents/skills/docs-governance/agents/openai.yaml
  .agents/skills/docs-governance/references/archive-frontmatter.md
  .agents/skills/docs-governance/references/checklist.md
  .agents/skills/docs-governance/references/workflow.md
  AGENTS.md
Due: prettier --write

fix(css): 사이즈 테마 제대로 반영되도록 이름 변경
  app/globals.css
Due: none

chore: k3s 마이그레이션 태스크 스캐폴딩 추가
  .claude/agents/app-developer.md
  .claude/agents/infra-engineer.md
  .claude/agents/scribe.md
  .claude/skills/finish-task/SKILL.md
  .claude/skills/scribe/SKILL.md
  .claude/skills/start-task/SKILL.md
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore: 태스크 파일에 GitHub 이슈 번호 연결
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore: 태스크 파일에 cgm-16/vridge 이슈 번호 연결
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore: CodeRabbit 리뷰 피드백 반영
  .claude/agents/app-developer.md
  .claude/agents/infra-engineer.md
  .claude/skills/finish-task/SKILL.md
  .claude/skills/scribe/SKILL.md
  .claude/skills/start-task/SKILL.md
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T08-ci-build.md
Due: prettier --write
