Repository cgm-16/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

chore: infra-engineer 에이전트 정의 명확화
  .claude/agents/infra-engineer.md
Due: prettier --write

chore: k3s 마이그레이션 태스크 스캐폴딩 추가
  .claude/agents/app-developer.md
  .claude/agents/infra-engineer.md
  .claude/agents/scribe.md
  .claude/skills/finish-task/SKILL.md
  .claude/skills/scribe/SKILL.md
  .claude/skills/start-task/SKILL.md
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore: 태스크 파일에 GitHub 이슈 번호 연결
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore: CodeRabbit 리뷰 피드백 반영
  .claude/agents/app-developer.md
  .claude/agents/infra-engineer.md
  .claude/skills/finish-task/SKILL.md
  .claude/skills/scribe/SKILL.md
  .claude/skills/start-task/SKILL.md
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T08-ci-build.md
Due: prettier --write

chore: 태스크 파일에 cgm-16/vridge 이슈 번호 연결
  .claude/tasks/T01-architecture-doc.md
  .claude/tasks/T02-runtime-config.md
  .claude/tasks/T03-health-endpoints.md
  .claude/tasks/T04-containerization.md
  .claude/tasks/T05-helm-scaffold.md
  .claude/tasks/T06-helm-secrets.md
  .claude/tasks/T07-cnpg-manifests.md
  .claude/tasks/T08-ci-build.md
  .claude/tasks/T09-cd-deploy.md
  .claude/tasks/T10-runbook.md
Due: prettier --write

chore(docs): added docs
  docs/PROJECT-AUTOPSY.md
  prompt_plan.md
Due: prettier --write

docs(agents): 커밋 규칙 안내 정렬
  docs/agents/app-developer.md
  docs/agents/infra-engineer.md
Due: prettier --write

docs(agents): Codex 에이전트 프롬프트 문서 추가
  docs/agents/app-developer.md
  docs/agents/infra-engineer.md
  docs/agents/scribe.md
Due: prettier --write

chore: scribe 에이전트가 dev에 직접 커밋하지 않도록 워크플로우 변경
  .claude/agents/scribe.md
  .claude/skills/scribe/SKILL.md
Due: prettier --write

feat(codex): 작업 시작 마무리 스킬 추가
  .agents/skills/finish-task/SKILL.md
  .agents/skills/finish-task/agents/openai.yaml
  .agents/skills/start-task/SKILL.md
  .agents/skills/start-task/agents/openai.yaml
Due: prettier --write

docs(skill): finish-task 필드 스키마 정리
  .agents/skills/finish-task/SKILL.md
Due: prettier --write

docs(skill): finish-task 커밋 조건 분기 정리
  .agents/skills/finish-task/SKILL.md
Due: prettier --write

docs: k3s 마이그레이션 아키텍처 및 환경 변수 계약 문서 추가
  docs/k3s-migration.md
Due: prettier --write

chore(skills): start-task에서 worktree로 피처 브랜치 생성하도록 변경
  .claude/skills/start-task/SKILL.md
Due: prettier --write

feat(health): /healthz 및 /readyz 엔드포인트 추가
  __tests__/app/healthz/route.test.ts
  __tests__/app/readyz/route.test.ts
  app/healthz/route.ts
  app/readyz/route.ts
  proxy.ts
Due: eslint --max-warnings 0, prettier --write

feat(config): 런타임 환경 변수 유효성 검사 모듈 추가
  __tests__/lib/backend/config/env.test.ts
  __tests__/lib/infrastructure/auth.test.ts
  backend/config/env.ts
  backend/infrastructure/auth.ts
  backend/infrastructure/db.ts
Due: eslint --max-warnings 0, prettier --write

ci: 런타임 config 모듈에 필요한 env 변수 추가
  .github/workflows/ci.yml
Due: none

fix(config): 소셜 프로바이더 선택적 적용 및 프로비저닝 에러 전파
  __tests__/lib/backend/config/env.test.ts
  backend/config/env.ts
  backend/infrastructure/auth.ts
Due: eslint --max-warnings 0, prettier --write

fix(config): PR 리뷰 반영 — 서버 전용 가드, URL 검증, OAuth 쌍 검증, 보상 삭제
  __tests__/lib/backend/config/env.test.ts
  __tests__/lib/infrastructure/auth.test.ts
  backend/config/env.ts
  backend/infrastructure/auth.ts
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings 0, prettier --write

feat(skill): address-review 스킬 추가 — CodeRabbit 리뷰 자동 처리
  .claude/skills/address-review/SKILL.md
Due: prettier --write

chore(deps): package.json 의존성 순서 정리
  package.json
Due: none

feat(helm): 안전한 기본값 Helm 차트 스캐폴드 추가
  .github/workflows/ci.yml
  deploy/helm/vridge/Chart.yaml
  deploy/helm/vridge/templates/_helpers.tpl
  deploy/helm/vridge/templates/deployment.yaml
  deploy/helm/vridge/templates/ingress.yaml
  deploy/helm/vridge/templates/poddisruptionbudget.yaml
  deploy/helm/vridge/templates/service.yaml
  deploy/helm/vridge/values.yaml
  docs/folder-structure.md
  scripts/validate-vridge-chart.sh
Due: prettier --write

fix(skill): address-review 리뷰 반영 — 포그라운드 5라운드 상한, 타임아웃 시그널, 영문 템플릿, 마크다운 형식 수정
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix(review): PR 22 보안 및 Helm 피드백 반영
  .github/workflows/ci.yml
  deploy/helm/vridge/templates/_helpers.tpl
  deploy/helm/vridge/templates/deployment.yaml
  deploy/helm/vridge/templates/ingress.yaml
  deploy/helm/vridge/values.yaml
  scripts/validate-vridge-chart.sh
Due: none

fix: CodeRabbit 리뷰 반영 — 정규식 언어 레이블/CRLF 지원, 폴링 루프 NEW_STATE 추출 추가
  .claude/skills/address-review/SKILL.md
Due: prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
