Repository cgm-16/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

feat(helm): 안전한 기본값 Helm 차트 스캐폴드 추가
  .github/workflows/ci.yml
  deploy/helm/vridge/Chart.yaml
  deploy/helm/vridge/templates/_helpers.tpl
  deploy/helm/vridge/templates/deployment.yaml
  deploy/helm/vridge/templates/ingress.yaml
  deploy/helm/vridge/templates/poddisruptionbudget.yaml
  deploy/helm/vridge/templates/service.yaml
  deploy/helm/vridge/values.yaml
  docs/folder-structure.md
  scripts/validate-vridge-chart.sh
Due: prettier --write

fix(review): PR 22 보안 및 Helm 피드백 반영
  .github/workflows/ci.yml
  deploy/helm/vridge/templates/_helpers.tpl
  deploy/helm/vridge/templates/deployment.yaml
  deploy/helm/vridge/templates/ingress.yaml
  deploy/helm/vridge/values.yaml
  scripts/validate-vridge-chart.sh
Due: none

fix: CodeRabbit 리뷰 반영 — jq null 반환 시 Python 가드 추가
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix: general-purpose 에이전트 타입 명시 제거 — 기본값으로 동작
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix(runtime): 빌드 타임 시크릿 의존 제거
  __tests__/app/job-detail-page.test.tsx
  __tests__/lib/backend/config/env.test.ts
  __tests__/lib/backend/infrastructure/lazy-init.test.ts
  __tests__/lib/infrastructure/auth-utils.test.ts
  __tests__/lib/infrastructure/auth.test.ts
  __tests__/lib/use-cases/announcements.test.ts
  __tests__/lib/use-cases/applications.test.ts
  __tests__/lib/use-cases/catalog.test.ts
  __tests__/lib/use-cases/jd-queries.test.ts
  __tests__/lib/use-cases/profile.test.ts
  __tests__/proxy.test.ts
  app/api/auth/[...all]/route.ts
  app/jobs/[id]/page.tsx
  backend/actions/profile.ts
  backend/config/env.ts
  backend/infrastructure/auth-utils.ts
  backend/infrastructure/auth.ts
  backend/infrastructure/db.ts
  backend/use-cases/announcements.ts
  backend/use-cases/applications.ts
  backend/use-cases/catalog.ts
  backend/use-cases/jd-queries.ts
  backend/use-cases/profile.ts
  proxy.ts
Due: eslint --max-warnings 0, prettier --write

feat(infra): 프로덕션 컨테이너 빌드 추가
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  README.md
  docs/handover.md
  docs/k3s-migration.md
  next.config.ts
Due: eslint --max-warnings 0, prettier --write

fix(skill): jq // empty 폴백 및 빈 RESULT 가드 추가
  .claude/skills/address-review/SKILL.md
Due: prettier --write

feat(helm): CNPG 및 앱 시크릿 환경변수 연결 (T06)
  deploy/helm/vridge/templates/deployment.yaml
  deploy/helm/vridge/values.yaml
  scripts/validate-vridge-chart.sh
Due: none

fix(test): standalone 산출물 Jest 경고 제거
  jest.config.js
Due: none

fix: CodeRabbit 리뷰 반영 — 정규식 언어 레이블/CRLF 지원, 폴링 루프 NEW_STATE 추출 추가
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix(skill): address-review 리뷰 반영 — 포그라운드 5라운드 상한, 타임아웃 시그널, 영문 템플릿, 마크다운 형식 수정
  .claude/skills/address-review/SKILL.md
Due: prettier --write

feat(skill): address-review 스킬 추가 — CodeRabbit 리뷰 자동 처리
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix(review): PR 23 최신 리뷰 코멘트 반영
  README.md
  __tests__/app/api/auth-route.test.ts
  app/api/auth/[...all]/route.ts
  docs/handover.md
Due: eslint --max-warnings 0, prettier --write

fix(ci): 빌드 시 Auth 핸들러 지연 초기화
  __tests__/app/api/auth-route.test.ts
  app/api/auth/[...all]/route.ts
Due: eslint --max-warnings 0, prettier --write

fix(review): PR 23 토론 코멘트 반영
  README.md
  __tests__/lib/backend/config/env.test.ts
  backend/config/env.ts
Due: eslint --max-warnings 0, prettier --write

feat(ci): 이미지 빌드 워크플로우 추가
  .github/workflows/build-image.yml
  .github/workflows/ci.yml
  README.md
  deploy/helm/vridge/templates/deployment.yaml
  docs/handover.md
  docs/k3s-migration.md
  scripts/validate-build-image-workflow.sh
  scripts/validate-vridge-chart.sh
Due: prettier --write

feat(k8s): vridge 네임스페이스 및 CNPG 클러스터 매니페스트 추가
  deploy/k8s/README.md
  deploy/k8s/cnpg-cluster.yaml
  deploy/k8s/namespace.yaml
Due: prettier --write

feat(ci): K8s 매니페스트 yamllint 검증 스크립트 및 CI 잡 추가
  .github/workflows/ci.yml
  scripts/validate-k8s-manifests.sh
Due: none

fix(ci): yamllint 실행을 pip 대신 uv tool run으로 변경
  .github/workflows/ci.yml
  scripts/validate-k8s-manifests.sh
Due: none

fix(ci): 리뷰 코멘트 반영
  README.md
  docs/handover.md
  docs/k3s-migration.md
  scripts/validate-build-image-workflow.sh
Due: prettier --write

feat(ci): k3s CD 배포 워크플로우 추가
  .github/workflows/build-image.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci.yml
  scripts/validate-build-image-workflow.sh
  scripts/validate-cd-deploy-workflow.sh
Due: none

fix(ci): workflow_run 트리거 시 올바른 커밋 체크아웃 및 불변 이미지 태그 사용
  .github/workflows/cd-deploy.yml
Due: none

chore(agents): 스킬, 에이전트 파일 수정
  .agents/skills/finish-task/SKILL.md
  .agents/skills/finish-task/agents/openai.yaml
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix: CD 워크플로우 보안 강화 - workflow_dispatch 브랜치 제한 및 이미지 태그 검증 추가
  .github/workflows/cd-deploy.yml
Due: none

fix(ci): Build Image 워크플로우 참조 검증 패턴을 따옴표 무관하게 수정
  scripts/validate-cd-deploy-workflow.sh
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
