Repository cgm-16/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

chore: set up testing and Storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  jest.config.js
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: eslint --max-warnings 0, prettier --write

chore: add GA4 and update README
  README.md
  app/layout.tsx
Due: eslint --max-warnings 0, prettier --write

chore: add chadcn as component library
  app/globals.css
  components.json
  lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: eslint --max-warnings 0, prettier --write

feat: add updatedAt, constraints, enums, and org ownership to schema
  prisma/schema.prisma
Due: none

docs: 문서 가이드라인 업데이트 - 한국어 작성 범위 명확화
  CLAUDE.md
Due: prettier --write

chore: Prisma 설정 파일 및 gitignore 추가
  .gitignore
  prisma.config.ts
Due: eslint --max-warnings 0, prettier --write

chore: .sh zsh로 호환되도록 변경
  .claude/hooks/auto-lint.sh
  .claude/hooks/check-branch.sh
  .claude/hooks/check-todos.sh
  .claude/hooks/document-changes.sh
  .claude/hooks/handle-compact.sh
  .claude/hooks/inject-rules.sh
  .claude/hooks/require-tests.sh
Due: none

infra: Jest + Prisma 클라이언트 싱글턴 + 환경 변수 설정
  .env.example
  .gitignore
  __tests__/smoke.test.ts
  jest.config.js
  lib/infrastructure/db.ts
  package.json
  pnpm-lock.yaml
  prisma.config.ts
Due: eslint --max-warnings 0, prettier --write

feat: BetterAuth 스키마 + 카탈로그 시드 스크립트 추가 (Prompt 2, DB 대기 중)
  docs/implementation-plan.md
  package.json
  prisma/schema.prisma
  prisma/seed-data/job-families.json
  prisma/seed-data/skills.json
  prisma/seed.ts
Due: eslint --max-warnings 0, prettier --write

fix: ci 에러 수정 - pnpm 버전 지정 및 오타 수정
  .github/workflows/ci.yml
Due: none

fix: lint 문제 해결
  jest.config.js
Due: none

fix: jest 설정 에러 수정
  jest.config.js
Due: none

feat: 구글, 페이스북 소셜 로그인 추가
  lib/infrastructure/auth.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 3 결과 기록 및 소셜 OAuth 환경 변수 추가
  .env.example
  docs/implementation-plan.md
Due: prettier --write

feat: BetterAuth 클라이언트 SDK 및 서버 세션 헬퍼 추가
  __tests__/lib/infrastructure/auth-utils.test.ts
  lib/infrastructure/auth-client.ts
  lib/infrastructure/auth-utils.ts
Due: eslint --max-warnings 0, prettier --write

feat: 미들웨어 라우트 보호 및 회원가입 유저 프로비저닝 훅 추가
  __tests__/lib/infrastructure/auth.test.ts
  __tests__/middleware.test.ts
  lib/infrastructure/auth.ts
  middleware.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 5 진행 상황 업데이트
  docs/implementation-plan.md
Due: prettier --write

feat: Zod 검증 스키마 추가 (Prompt 6)
  __tests__/lib/validations/application.test.ts
  __tests__/lib/validations/job-description.test.ts
  __tests__/lib/validations/profile.test.ts
  lib/validations/application.ts
  lib/validations/job-description.ts
  lib/validations/profile.ts
Due: eslint --max-warnings 0, prettier --write

fix: precommit 제대로 도입 (지금까지 설정이 일부 안됨), 파일 포매팅
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  __tests__/lib/infrastructure/auth-utils.test.ts
  __tests__/lib/infrastructure/auth.test.ts
  __tests__/middleware.test.ts
  __tests__/smoke.test.ts
  app/api/auth/[...all]/route.ts
  app/globals.css
  app/page.tsx
  eslint.config.mjs
  jest.config.js
  lib/infrastructure/auth-client.ts
  lib/infrastructure/auth-utils.ts
  lib/infrastructure/auth.ts
  lib/infrastructure/db.ts
  middleware.ts
  next.config.ts
  pnpm-lock.yaml
  postcss.config.mjs
  prisma/seed-data/job-families.json
  prisma/seed-data/skills.json
  prisma/seed.ts
  supa_RLS.md
Due: eslint --max-warnings 0, prettier --write

docs: 실행 결과 반영
  docs/implementation-plan.md
Due: prettier --write

docs: 개발 워크플로우 섹션 추가
  docs/implementation-plan.md
Due: prettier --write

feat: 프로필 use-case 및 서버 액션 구현 (Prompt 8)
  __tests__/lib/actions/profile.test.ts
  __tests__/lib/use-cases/profile.test.ts
  docs/implementation-plan.md
  lib/actions/profile.ts
  lib/use-cases/profile.ts
Due: eslint --max-warnings 0, prettier --write

feat: Prompt 9 — 카탈로그 + 채용공고 쿼리 use-case/action 구현
  __tests__/lib/actions/catalog.test.ts
  __tests__/lib/actions/jd-queries.test.ts
  __tests__/lib/use-cases/catalog.test.ts
  __tests__/lib/use-cases/jd-queries.test.ts
  docs/implementation-plan.md
  lib/actions/catalog.ts
  lib/actions/jd-queries.ts
  lib/use-cases/catalog.ts
  lib/use-cases/jd-queries.ts
Due: eslint --max-warnings 0, prettier --write

feat: Tailwind 테마 설정, 에셋 임포트
  app/globals.css
  public/icons/checked.svg
  public/icons/chevron-down.svg
  public/icons/chevron-left.svg
  public/icons/chevron-right.svg
  public/icons/chevron-up.svg
  public/icons/close.svg
  public/icons/edit.svg
  public/icons/education.svg
  public/icons/error.svg
  public/icons/experience.svg
  public/icons/hidden.svg
  public/icons/jobs.svg
  public/icons/location.svg
  public/icons/mail.svg
  public/icons/mobile.svg
  public/icons/password.svg
  public/icons/plus.svg
  public/icons/profile.svg
  public/icons/required.svg
  public/icons/show.svg
  public/icons/sorting.svg
  public/icons/success.svg
  public/icons/time.svg
  public/icons/unchecked.svg
  public/icons/university.svg
Due: none

feat(ui): shadcn 컴포넌트 설치 — button, dropdown-menu, avatar, skeleton, separator
  components/providers.tsx
  components/ui/avatar.tsx
  components/ui/button.tsx
  components/ui/dropdown-menu.tsx
  components/ui/separator.tsx
  components/ui/skeleton.tsx
Due: eslint --max-warnings 0, prettier --write

feat(nav): 전역 상단 네비게이션 위젯 구현
  widgets/nav/ui/main-nav.tsx
  widgets/nav/ui/user-menu.tsx
Due: eslint --max-warnings 0, prettier --write

feat(layout): 앱 루트 레이아웃 및 대시보드 사이드바 레이아웃 구현
  app/(dashboard)/dashboard-sidebar.tsx
  app/(dashboard)/layout.tsx
  app/layout.tsx
Due: eslint --max-warnings 0, prettier --write

feat(middleware): /login, /signup 제거 및 미인증 리다이렉트를 /jobs로 변경
  __tests__/middleware.test.ts
  middleware.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 11 구현 결과 문서화 및 Prompt 12 계획 갱신
  docs/implementation-plan.md
  pnpm-lock.yaml
Due: prettier --write

fix: nextjs middleware 패턴 변경에 따라 파일 개명
  __tests__/proxy.test.ts
  middleware.ts
  proxy.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 13 구현 결과 문서화 및 상태 업데이트
  docs/implementation-plan.md
Due: prettier --write

feat(profile-edit): 뮤테이션 훅 및 폼 컴포넌트 구현
  features/profile-edit/model/use-profile-mutations.ts
  features/profile-edit/ui/career-form.tsx
  features/profile-edit/ui/contact-form.tsx
  features/profile-edit/ui/education-form.tsx
  features/profile-edit/ui/language-form.tsx
  features/profile-edit/ui/profile-public-form.tsx
  features/profile-edit/ui/skill-picker.tsx
  features/profile-edit/ui/url-form.tsx
Due: eslint --max-warnings 0, prettier --write

docs: 구현 계획 문서 불일치 수정 및 Phase 5 계획 분리
  docs/implementation-plan-p17.md
  docs/implementation-plan.md
Due: prettier --write

docs: Figma 매핑 및 구현 비교 추가 (project-state.md)
  docs/project-state.md
Due: prettier --write

docs: P17 결과 기록 — 상태 업데이트 및 결과 섹션 추가
  docs/implementation-plan-p5.md
  todo.md
Due: prettier --write

feat: Zod 스키마 확장 — profilePublic/Career/Language 새 필드 + certification + announcement 필터
  __tests__/lib/validations/announcement.test.ts
  __tests__/lib/validations/profile.test.ts
  lib/validations/announcement.ts
  lib/validations/profile.ts
Due: eslint --max-warnings 0, prettier --write

feat: 자격증 CRUD + 공지사항 조회 use-case 구현 및 테스트
  __tests__/lib/use-cases/announcements.test.ts
  __tests__/lib/use-cases/profile.test.ts
  lib/use-cases/announcements.ts
  lib/use-cases/profile.ts
Due: eslint --max-warnings 0, prettier --write

feat: 자격증 + 공지사항 서버 액션 구현 및 테스트
  __tests__/lib/actions/announcements.test.ts
  __tests__/lib/actions/profile.test.ts
  lib/actions/announcements.ts
  lib/actions/profile.ts
Due: eslint --max-warnings 0, prettier --write

feat: 자격증 mutation hook 추가
  features/profile-edit/model/use-profile-mutations.ts
Due: eslint --max-warnings 0, prettier --write

docs: Prompt 18 결과 섹션 추가
  docs/implementation-plan-p5.md
Due: prettier --write

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
