Repository cgm-16/vridge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0", "prettier --write"],
  "*.md": "prettier --write"
}

chore(skills): 스킬 업데이트
  .claude/skills/address-review/SKILL.md
Due: prettier --write

fix: validate-cd-deploy-workflow.sh 시크릿 감지 및 workflow_run 검증 강화
  scripts/validate-cd-deploy-workflow.sh
Due: none

fix(ci): Build Image 워크플로우 참조 검증 패턴을 따옴표 무관하게 수정
  scripts/validate-cd-deploy-workflow.sh
Due: none

fix(ci): workflow_run 트리거 시 올바른 커밋 체크아웃 및 불변 이미지 태그 사용
  .github/workflows/cd-deploy.yml
Due: none

fix: CD 워크플로우 보안 강화 - workflow_dispatch 브랜치 제한 및 이미지 태그 검증 추가
  .github/workflows/cd-deploy.yml
Due: none

feat(ci): k3s CD 배포 워크플로우 추가
  .github/workflows/build-image.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci.yml
  scripts/validate-build-image-workflow.sh
  scripts/validate-cd-deploy-workflow.sh
Due: none

fix(ci): GA 및 개인정보 URL 빌드 변수 검증 제거
  .github/workflows/build-image.yml
Due: none

fix(docker): Prisma 생성 클라이언트 복사 및 Node LTS 이미지로 업그레이드
  Dockerfile
Due: none

fix(dockerfile): COPY 순서 변경
  Dockerfile
Due: none

fix(Dockerfile): 불필요한 환경변수 제거
  Dockerfile
Due: none

chore(workflows): 액션 메이저 버전 갱신
  .github/workflows/build-image.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix(scripts): 빌드 이미지 워크플로 검증 버전 갱신
  scripts/validate-build-image-workflow.sh
Due: none

fix(workflows): 액션 참조를 릴리스 SHA로 고정
  .github/workflows/build-image.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  scripts/validate-build-image-workflow.sh
Due: none

docs(runbook): vridge k3s 배포 런북 및 스모크 체크리스트 추가
  docs/runbook-deploy.md
Due: prettier --write

fix: CodeRabbit 리뷰 반영 (round 1)
  docs/runbook-deploy.md
Due: prettier --write

chore(CICD): 도메인, https 설정 추가
  deploy/helm/vridge/values.yaml
Due: none

chore(cicd): branch 조건 변경
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix(cicd): 검증 스크립트 수정
  scripts/validate-vridge-chart.sh
Due: none

feat(deploy): CNPG 환경용 Prisma 마이그레이션 Helm 훅 전환
  .github/workflows/deploy.yml
  Dockerfile
  deploy/helm/vridge/templates/migrate-job.yaml
  deploy/helm/vridge/values.yaml
  docs/runbook-deploy.md
  scripts/validate-vridge-chart.sh
Due: prettier --write

feat(i18n): 기본 언어 설정 변경
  shared/i18n/config.ts
Due: eslint --max-warnings 0, prettier --write

fix: CodeRabbit 리뷰 반영 (round 1)
  deploy/helm/vridge/templates/migrate-job.yaml
  docs/runbook-deploy.md
  scripts/validate-vridge-chart.sh
Due: prettier --write

fix(deploy): Prisma CLI 경로 수정 (bin → build/index.js)
  deploy/helm/vridge/templates/migrate-job.yaml
  scripts/validate-vridge-chart.sh
Due: none

fix: Dockerfile pnpm 심링크 해제 및 마이그레이션 Job 스케줄링 제약 추가
  Dockerfile
  deploy/helm/vridge/templates/migrate-job.yaml
Due: none

fix: cp -rL 제거 및 --follow-symlinks로 pnpm 심링크 해결
  Dockerfile
Due: none

fix: Prisma 마이그레이션용 hoisted 스테이지 추가 (pnpm 심링크 해결)
  Dockerfile
Due: none

fix(deploy): Dockerfile prisma-migration-deps 스테이지 정리
  Dockerfile
Due: none

fix(ci): Docker Hub 로그인 추가 및 미사용 환경 변수 제거
  .github/workflows/build-image.yml
  .github/workflows/ci.yml
  scripts/validate-build-image-workflow.sh
  scripts/validate-vridge-chart.sh
Due: none

fix: CodeRabbit 리뷰 반영 (round 1) - docker/login-action SHA 고정
  .github/workflows/build-image.yml
Due: none
